a{
    text-decoration: none !important;
    color: #fff !important;
}

.brand{
    font-size: 1.5em;
    padding: 8px 8px;
}

input{
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 8px 16px;
}

.width{
    max-width: 100% !important;
    width: 100vw !important;
}

.submit-button-white{
    background-color: #f2f2f2 !important;
    color: #000 !important;
    border: none !important;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
}

.dropdown{
    a{
        color: #000 !important;
        border-bottom: 1px solid #f2f2f2;
        padding: 0.5em 1em;
    }
    color: #000 !important;
    
}

@media (max-width: 768px){
    .brand{
        padding: 8px 0 !important;
        h1{
            font-size: 1.2em !important;
            padding: 8px 0 !important;
        }
    }

    svg{
        width: 20px !important;
        height: 20px !important;
        padding: 0 !important;
    }

    input{
        width: 80% !important;
        margin: 8px 0 !important;
        margin-left: 4px !important;
    }
    button{
        font-size: 0.9em !important;
        padding: 0.5em 1em !important;

    }

    .write{
       margin-right: 8px !important;
    }

    .notification{
        display: none !important;
    }
}